* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.active {
  display: block !important;
}

.activeBtn {
  background-color: rgba(242, 213, 213, 0.7) !important;
}

body {
  background-color: rgba(255, 255, 255, 0.1);
}

header {
  background-color: #e6aeae;
}
header i,
header span {
  color: white;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.container-header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.container-header > div {
  margin-top: auto;
  color: white;
}
.container-header > div span:not(:first-child) {
  padding-left: 20px;
}
.container-header ul {
  display: flex;
  list-style: none;
}
.container-header ul li:not(:last-child) {
  padding-right: 25px;
}
.container-header ul i {
  font-size: 20px;
}

.feature {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-feature {
  display: flex;
  padding: 30px 0;
}
.container-feature a {
  text-decoration: none;
  color: gray;
  display: block;
}
.container-feature a h1 {
  font-family: "Cinzel", serif;
}
.container-feature a:hover {
  color: #e6aeae;
}
.container-feature > div.-bar {
  margin-top: auto;
}
.container-feature > div.-bar > div {
  display: none;
}
.container-feature > div.-bar ul {
  margin-left: 80px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.container-feature > div.-bar ul li:not(:first-child) {
  margin-left: 40px;
}
.container-feature > div:not(:first-child) {
  font-size: 18px;
}
.container-feature > div:last-child {
  margin-left: auto;
  display: flex;
  margin-top: auto;
}
.container-feature > div:last-child > div {
  padding: 0 10px;
}
.container-feature > div:last-child > div i {
  padding: 0 5px;
}

@media screen and (max-width: 1024px) {
  .container-feature > div {
    font-size: 14px;
  }
  .container-feature > div:not(:first-child) {
    font-size: 15px;
  }
  .container-feature > div.-bar ul {
    margin-left: 40px;
  }
}
@media screen and (max-width: 768px) {
  .container-header > div {
    font-size: 16px;
  }
  .container-header ul > li:not(:last-child) {
    padding-right: 10px;
  }
  .container-header ul > li > a > i {
    font-size: 15px;
  }

  .container-feature {
    font-size: 18px;
    position: relative;
    padding: 20px;
  }
  .container-feature > div:first-child {
    margin: 0 auto;
  }
  .container-feature > div.-bar {
    left: 5px;
    top: 38%;
    z-index: 1;
    position: absolute;
  }
  .container-feature > div.-bar > div {
    display: block;
    font-size: 22px;
  }
  .container-feature > div.-bar ul {
    display: none;
    flex-flow: column;
    margin: 0;
    width: 100px;
  }
  .container-feature > div.-bar ul li {
    margin: 0px !important;
    border-bottom: 1px gray solid;
  }
  .container-feature > div.-bar ul li a {
    display: block;
    padding: 5px 0;
  }
  .container-feature > div:last-child {
    position: absolute;
    right: 5px;
    top: 38%;
  }
  .container-feature > div:last-child > div span {
    display: none;
  }
}
@media screen and (max-width: 488px) {
  .container-header > div {
    font-size: 10px;
  }

  .container-feature {
    padding: 10px;
  }
  .container-feature div:last-child > div {
    padding: 0;
  }
  .container-feature div.-bar {
    left: 15px;
    top: 32%;
  }
  .container-feature a h1 {
    font-size: 22px;
  }
}
@media screen and (max-width: 360px) {
  .container-header ul > li > a > i {
    font-size: 10px;
  }

  .container-feature {
    padding-top: 15px;
  }
  .container-feature a h1 {
    font-size: 20px;
  }
}

/*# sourceMappingURL=header.css.map */
