* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.active {
  display: block !important;
}

.wdRight {
  margin-left: auto;
  width: 0%;
  overflow: hidden;
}

.wdLeft {
  width: 0%;
  overflow: hidden;
}

.show {
  width: 100%;
}

.wrapper {
  transition: width 1.5s;
}

.activeBtn {
  background-color: rgba(242, 213, 213, 0.7) !important;
}

body {
  background-color: rgba(255, 255, 255, 0.1);
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.wr-header {
  background-color: #e6aeae;
}

.container-header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.container-header i,
.container-header span {
  color: white;
}
.container-header > div {
  margin-top: auto;
  color: white;
}
.container-header > div span:not(:first-child) {
  padding-left: 20px;
}
.container-header ul {
  display: flex;
  list-style: none;
}
.container-header ul li:not(:last-child) {
  padding-right: 25px;
}
.container-header ul i {
  font-size: 20px;
}

.container-feature {
  display: flex;
  padding: 23px 0;
  justify-content: space-around;
}
.container-feature a {
  text-decoration: none;
  color: gray;
  display: block;
}
.container-feature a h1 {
  font-family: "Cinzel", serif;
  margin-top: auto;
}
.container-feature a:hover {
  color: #e6aeae;
}
.container-feature > div:first-child {
  margin-right: auto;
  margin-top: auto;
}
.container-feature > div.-search-area {
  display: flex;
  width: auto;
  align-items: center;
  height: 2em;
}
.container-feature > div.-search-area > input {
  height: 100%;
  width: 31em;
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.07), 0 3px 7px 0 rgba(0, 0, 0, 0.09);
}
.container-feature > div.-search-area > a {
  margin-left: 2em;
  height: 100%;
  display: flex;
  width: 5em;
  background-color: #e6aeae;
}
.container-feature > div.-search-area > a > i {
  margin: auto;
}
.container-feature > div:not(:first-child) {
  font-size: 18px;
}
.container-feature > div:last-child {
  margin-left: auto;
  display: flex;
  margin-top: auto;
}
.container-feature > div:last-child > div {
  padding: 0 10px;
}
.container-feature > div:last-child > div i {
  padding: 0 5px;
}

.-bar {
  margin-top: auto;
}
.-bar > div {
  display: none;
}
.-bar > div > a > i {
  color: gray;
  font-size: 20px;
}
.-bar > ul {
  list-style: none;
  display: flex;
  justify-content: center;
}
.-bar > ul > li a {
  display: block;
  text-decoration: none;
  color: gray;
  padding: 7px 37px;
}
.-bar > ul > li:not(:last-child) {
  border-right: solid 1px gray;
}

@media screen and (max-width: 1024px) {
  .container-feature > div.-search-area {
    height: 31px;
  }
  .container-feature > div.-search-area > a {
    width: 3em;
    margin-left: 1em;
  }
  .container-feature > div.-search-area > a h1 {
    font-size: 23px;
  }
  .container-feature > div.-search-area > a > i {
    font-size: 17px;
  }
  .container-feature > div.-search-area > input {
    width: 23em;
  }
  .container-feature > div:last-child {
    font-size: 17px;
  }
  .container-feature > div:last-child > div {
    padding: 0 5px;
  }
}
@media screen and (max-width: 768px) {
  .container-header > div {
    font-size: 16px;
  }
  .container-header ul > li:not(:last-child) {
    padding-right: 10px;
  }
  .container-header ul > li > a > i {
    font-size: 15px;
  }

  .feature {
    position: relative;
  }

  .container-feature {
    padding-bottom: 37px;
  }
  .container-feature > div:first-child {
    margin: auto;
  }
  .container-feature > div.-search-area {
    position: absolute;
    bottom: 0;
  }
  .container-feature > div:last-child {
    position: absolute;
    right: 0;
    top: 31px;
  }
  .container-feature > div:last-child > div > a > span {
    display: none;
  }

  .-bar {
    position: absolute;
    top: 29px;
    left: 5px;
  }
  .-bar > div {
    display: block;
  }
  .-bar > ul {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .container-header > div {
    font-size: 10px;
  }
  .container-header ul > li > a > i {
    font-size: 11px;
  }

  .container-feature a h1 {
    font-size: 23px;
  }
  .container-feature > div.-search-area > a {
    margin-left: 0;
  }
  .container-feature > div.-search-area > input {
    width: 19em;
  }
}

/*# sourceMappingURL=header.css.map */
