.wrap-slide {
  position: relative;
}
.wrap-slide > div:first-child {
  display: flex;
  position: relative;
  overflow: hidden;
  min-height: 580px;
}
.wrap-slide img {
  position: absolute;
  width: 100%;
  object-fit: cover;
  left: 100%;
  height: 100%;
}
.wrap-slide-bar {
  width: 100%;
  position: absolute;
  bottom: 10%;
  height: fit-content;
  margin-left: auto;
  z-index: 2;
}
.wrap-slide-bar > div {
  display: flex;
  justify-content: center;
}
.wrap-slide-bar span {
  display: block;
  height: 5px;
  width: 50px;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
  margin: 0 10px;
  cursor: pointer;
}

.inSlide {
  transition: left 1s;
  left: 0 !important;
  z-index: 2;
}

.hideSlide {
  transition: left 1s;
  left: -100% !important;
  z-index: 1;
}

.inReview {
  transition: top 1s;
  top: 0 !important;
  z-index: 1;
}

.hideReview {
  transition: top 1s;
  top: 101% !important;
  z-index: 1;
}

.review-content > div {
  display: flex;
  padding: 5% 11%;
}
.review-content > div > div a {
  display: block;
  position: relative;
  overflow: hidden;
}
.review-content > div > div a > img {
  width: 100%;
  object-fit: cover;
}
.review-content > div > div a > div {
  width: 100%;
  height: 17%;
  position: absolute;
  bottom: 1%;
  transition: height 1s;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0 0 19px 19px;
}
.review-content > div > div a > div > p {
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
}
.review-content > div > div a > div > p:last-child {
  display: none;
  margin-top: 5%;
}
.review-content > div > div:first-child {
  width: 50%;
  position: relative;
  overflow: hidden;
  min-height: 690px;
}
.review-content > div > div:first-child > div {
  position: absolute;
  top: -101%;
  width: 100%;
}
.review-content > div > div:first-child > div > a > div p:first-child {
  font-size: 23px;
  font-weight: bolder;
}
.review-content > div > div:last-child {
  margin-left: auto;
  width: 41%;
  display: flex;
  flex-direction: column;
}
.review-content > div > div:last-child > div:first-child > a > div > p:first-child {
  font-size: 19px;
  font-family: "Libre Baskerville", serif;
}
.review-content > div > div:last-child > div:last-child {
  margin-top: auto;
}
.review-content > div > div:last-child > div:last-child > a > div > p:first-child {
  font-family: "Ephesis", cursive;
  font-weight: bold;
  font-size: 29px;
}
.review-content > div > div img {
  border-radius: 19px;
}

.container-brand {
  display: flex;
  justify-content: space-around;
  font-size: 9px;
  margin: 10px 0;
}
.container-brand > div {
  margin: 0 10px;
}
.container-brand > div > a {
  display: block;
  padding: 5px;
  border: 2px solid rgba(128, 128, 128, 0.5);
  width: 113px;
}
.container-brand > div > a img {
  width: 100%;
}

.ind-pro {
  font-size: 17px;
}
.ind-pro > div {
  margin: 7% 0;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}
.ind-pro > div a {
  text-decoration: none;
}
.ind-pro > div > div {
  padding: 5%;
  width: 50%;
}
.ind-pro > div > div:first-child {
  justify-content: center;
  display: flex;
}
.ind-pro > div > div:first-child > a {
  margin-top: auto;
  padding: 3% 5%;
  color: rgba(0, 0, 0, 0.7);
  background-color: rgba(255, 255, 255, 0.5);
}
.ind-pro > div > div:first-child > a:hover {
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(128, 128, 128, 0.5);
}
.ind-pro > div > div:last-child {
  position: relative;
}
.ind-pro > div > div:last-child > div:first-child {
  z-index: 3;
  position: absolute;
  height: 70%;
  width: 80%;
  display: flex;
}
.ind-pro > div > div:last-child > div:first-child > div {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 31px;
}
.ind-pro > div > div:last-child > div:first-child > div > span {
  display: block;
  padding: 13px;
  background-color: rgba(128, 128, 128, 0.1);
  border-radius: 5px;
  cursor: pointer;
}
.ind-pro > div > div:last-child > div:last-child {
  display: flex;
  position: relative;
  min-height: 509px;
  overflow: hidden;
}
.ind-pro > div > div:last-child > div:last-child > a {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: left 1s;
  justify-content: center;
}
.ind-pro > div > div:last-child > div:last-child > a > div {
  padding: 0 11%;
}
.ind-pro > div > div:last-child > div:last-child > a > div > img {
  width: 89%;
  border-radius: 13px;
}
.ind-pro > div > div:last-child > div:last-child > a > h2 {
  color: lightslategray;
  font-size: 21px;
  margin-top: 19px;
}
.ind-pro > div > div:last-child > div:last-child > a > p {
  width: fit-content;
  margin: 19px auto 0;
  color: gray;
}
.ind-pro > div > div:last-child > div:last-child > a > p:hover {
  text-decoration: underline 2px;
}
.ind-pro > div:first-child {
  background-image: url(../images/cover-female.png);
}
.ind-pro > div:last-child {
  flex-direction: row-reverse;
  background-image: url(../images/cover-male.png);
}

.middle {
  left: 0 !important;
}

.leftSide {
  left: -100% !important;
}

.lightBtn {
  color: rgba(128, 128, 128, 0) !important;
}

.container-product {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.container-product > div {
  width: 19%;
  margin-top: 3%;
}
.container-product > div:not(:last-child) {
  margin-right: 1%;
}
.container-product > div img {
  width: 100%;
  max-height: 300px;
}
.container-product > div > div > div {
  margin: 5px 10px 0px;
}
.container-product > div > div > div a {
  text-decoration: none;
  color: gray;
}
.container-product > div > div > div a:hover {
  color: tomato;
}
.container-product > div > div > div:last-child {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  font-size: 17px;
}
.container-product > div > div > div:last-child > a {
  display: block;
  width: 33%;
  text-align: center;
  padding: 2px;
  background-color: rgba(239, 203, 203, 0.5);
  border-radius: 2px;
  border: gray solid 1px;
}

.container-product-bar {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 20px;
  border-bottom: solid rgba(128, 128, 128, 0.5) 2px;
}
.container-product-bar h3 {
  white-space: nowrap;
  font-family: "Dancing Script", cursive;
  font-size: 30px;
  font-weight: normal;
}

.container-more {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.container-more a {
  text-decoration: none;
  display: block;
  padding: 10px;
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 5px;
  color: white;
}
.container-more a:hover {
  background-color: rgba(239, 203, 203, 0.7);
  color: gray;
}

@media screen and (max-width: 1240px) {
  .wrap-slide > div:first-child {
    min-height: 503px;
  }

  .review-content > div > div:first-child {
    min-height: 600px;
  }

  .ind-pro > div > div:last-child > div:last-child {
    min-height: 433px;
  }
  .ind-pro > div > div:last-child > div:last-child > a > h2 {
    font-size: 19px;
  }
}
@media screen and (max-width: 1024px) {
  .container-brand > div > a {
    width: 73px;
  }

  .container-product > div {
    width: 24%;
  }
  .container-product > div > div > div:last-child {
    font-size: 16px;
  }

  .wrap-slide > div:first-child {
    min-height: 331px;
  }

  .wrap-slide-bar span {
    width: 40px;
  }

  .review-content > div > div:first-child {
    min-height: 453px;
  }

  .ind-pro > div > div:last-child > div:first-child > div {
    font-size: 29px;
  }
  .ind-pro > div > div:last-child > div:first-child > div > span {
    padding: 11px;
  }
  .ind-pro > div > div:last-child > div:last-child {
    min-height: 367px;
  }
  .ind-pro > div > div:last-child > div:last-child > a > p {
    margin-top: 11px;
  }
}
@media screen and (max-width: 768px) {
  .wrap-slide > div:first-child {
    min-height: 239px;
  }
  .wrap-slide-bar span {
    width: 30px;
  }

  .container-product > div {
    width: 32%;
    margin-right: 2%;
  }
  .container-product > div > div > div {
    font-size: 13px;
  }
  .container-product > div > div > div a > h4 {
    font-size: 13px;
  }
  .container-product > div > div > div:last-child {
    font-size: 13px;
  }
  .container-product > div > div > div:last-child a {
    width: 33%;
    padding: 5px 1px;
    margin: 0;
  }

  .container-product-bar h3 {
    font-size: 25px;
  }

  .review-content > div > div:first-child {
    min-height: 285px;
  }
  .review-content > div > div:first-child > a > div p:first-child {
    font-size: 17px;
  }
  .review-content > div > div:last-child > div > a > div {
    bottom: 2%;
  }
  .review-content > div > div:last-child > div:first-child > a > div > p:first-child {
    font-size: 13px;
    font-weight: bold;
  }
  .review-content > div > div:last-child > div:last-child > a > div > p:first-child {
    font-size: 23px;
  }

  .container-brand > div > a {
    width: 43px;
  }

  .ind-pro {
    font-size: 11px;
  }
  .ind-pro > div {
    position: relative;
  }
  .ind-pro > div > div:first-child > a {
    position: absolute;
    bottom: 5%;
    left: 40%;
  }
  .ind-pro > div > div:last-child > div:first-child > div {
    font-size: 19px;
  }
  .ind-pro > div > div:last-child > div:first-child > div > span {
    padding: 7px;
  }
  .ind-pro > div > div:last-child > div:last-child {
    min-height: 281px;
  }
  .ind-pro > div > div:last-child > div:last-child > a > h2 {
    font-size: 13px;
  }
}
@media screen and (max-width: 480px) {
  .wrapper {
    margin: unset;
  }

  .wrap-slide > div:first-child {
    min-height: 179px;
  }
  .wrap-slide-bar span {
    height: 3px;
  }

  .container-product {
    font-size: 10px;
  }
  .container-product > div {
    width: 49%;
  }
  .container-product > div > div > div a {
    margin: 0;
  }
  .container-product > div > div > div:last-child > a {
    width: 33%;
  }

  .container-product-bar h3 {
    font-size: 20px;
  }

  .container-more a {
    font-size: 10px;
  }

  .review-content > div > div:first-child {
    min-height: 307px;
  }
  .review-content > div > div:first-child > div > a > img {
    height: 307px;
  }
  .review-content > div > div:first-child > div > a > div p:first-child {
    font-size: 13px;
  }
  .review-content > div > div:last-child > div:first-child > a > img {
    height: 113px;
  }
  .review-content > div > div:last-child > div:first-child > a > div > p:first-child {
    font-size: 7px;
  }
  .review-content > div > div:last-child > div:last-child > a > img {
    height: 173px;
  }
  .review-content > div > div:last-child > div:last-child > a > div > p:first-child {
    font-size: 17px;
  }

  .container-brand > div {
    margin: 0;
  }

  .ind-pro {
    font-size: 7px;
  }
  .ind-pro > div > div:last-child > div:first-child > div {
    font-size: 11px;
  }
  .ind-pro > div > div:last-child > div:first-child > div > span {
    padding: 5px;
    border-radius: 3px;
  }
  .ind-pro > div > div:last-child > div:last-child {
    min-height: 173px;
  }
  .ind-pro > div > div:last-child > div:last-child > a > div > img {
    border-radius: 5px;
  }
  .ind-pro > div > div:last-child > div:last-child > a > h2 {
    margin-top: 11px;
    font-size: 7px;
  }
  .ind-pro > div > div:last-child > div:last-child > a > p {
    margin-top: 5px;
  }
}

/*# sourceMappingURL=style-index.css.map */
